/* 
Page Palette
#01161E   black
#124559
#5588AA
#AEC3B0
#EFF6E0   white
*/



h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: #EFF6E0;
}


body {
    background-color: #01161E   ;
    font: 15px arial, sans-serif;
}


.center_column{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}


.box{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: relative;
	float: left;
	width: 50%;
}

.box:after {
	content: "";
	display: inline-block;
	padding-bottom: 100%;

}


.icon_box{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	position: relative;
	float: left;
	width: 100%;
	opacity: 0.2;
}

.icon_box:after {
	content: "";
	display: inline-block;
	padding-bottom: 100%;

}

.icon_box:hover {
	background-size: 42%;
	opacity: 0.5;
}

.icon_box:active {
	background-size: 45%;
	opacity: 0.9;
}
